In [78]:
# Importamos las librerías necesarias
import pandas as pd
import numpy as np
from pycoingecko import CoinGeckoAPI 
import os
import json

In [79]:
# binanceoin, bitcoin, cardano, chainlink, ethereum, ripple, stellar, tether, litecoin, usd-coin.

#### Extraemos la data desde la API de CoinGecko

In [80]:
# Creamos una instancia de CoinGeckoAPI
cg = CoinGeckoAPI()

# Lista de IDs de las criptomonedas previamente seleccionadas
crypto_ids = ['binancecoin', 'bitcoin', 'cardano', 'chainlink', 'ethereum', 'ripple', 'stellar', 'tether', 'litecoin', 'usd-coin']

# Configuramos parámetros del endpoint
vs_currency = 'usd'
days = 1826
interval = 'daily'
precision = 2

# Directorio para guardar los archivos JSON
output_dir = 'data'

# Usamos la función get_coin_market_chart_by_id para descargar y guardar los datos para cada criptomoneda en la carpeta "data".
# El nombre de cada archivo será su id
for crypto_id in crypto_ids:
    data = cg.get_coin_market_chart_by_id(id=crypto_id, vs_currency=vs_currency, days=days)
    filename = os.path.join(output_dir, f'{crypto_id}.json')
    with open(filename, 'w') as f:
        json.dump(data, f)
    print(f'Datos de {crypto_id} guardados en {filename}')

Datos de binancecoin guardados en data\binancecoin.json
Datos de bitcoin guardados en data\bitcoin.json
Datos de cardano guardados en data\cardano.json
Datos de chainlink guardados en data\chainlink.json
Datos de ethereum guardados en data\ethereum.json
Datos de ripple guardados en data\ripple.json
Datos de stellar guardados en data\stellar.json
Datos de tether guardados en data\tether.json
Datos de litecoin guardados en data\litecoin.json
Datos de usd-coin guardados en data\usd-coin.json

In [81]:
json_data = 'data/bitcoin.json'  
bitcoin = pd.read_json(json_data)
bitcoin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1827 entries, 0 to 1826
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   prices         1827 non-null   object
 1   market_caps    1827 non-null   object
 2   total_volumes  1827 non-null   object
dtypes: object(3)
memory usage: 42.9+ KB

In [82]:
json_data = 'data/binancecoin.json'  
binancecoin = pd.read_json(json_data)
binancecoin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1827 entries, 0 to 1826
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   prices         1827 non-null   object
 1   market_caps    1827 non-null   object
 2   total_volumes  1827 non-null   object
dtypes: object(3)
memory usage: 42.9+ KB

In [83]:
json_data = 'data/cardano.json'  
cardano = pd.read_json(json_data)
cardano.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1827 entries, 0 to 1826
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   prices         1827 non-null   object
 1   market_caps    1827 non-null   object
 2   total_volumes  1827 non-null   object
dtypes: object(3)
memory usage: 42.9+ KB

In [84]:
json_data = 'data/ethereum.json'  
ethereum = pd.read_json(json_data)
ethereum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1827 entries, 0 to 1826
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   prices         1827 non-null   object
 1   market_caps    1827 non-null   object
 2   total_volumes  1827 non-null   object
dtypes: object(3)
memory usage: 42.9+ KB

In [85]:
json_data = 'data/chainlink.json'  
chainlink = pd.read_json(json_data)
chainlink.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1827 entries, 0 to 1826
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   prices         1827 non-null   object
 1   market_caps    1827 non-null   object
 2   total_volumes  1827 non-null   object
dtypes: object(3)
memory usage: 42.9+ KB

In [86]:
json_data = 'data/litecoin.json'  
litecoin = pd.read_json(json_data)
litecoin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1827 entries, 0 to 1826
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   prices         1827 non-null   object
 1   market_caps    1827 non-null   object
 2   total_volumes  1827 non-null   object
dtypes: object(3)
memory usage: 42.9+ KB

In [87]:
json_data = 'data/ripple.json'  
ripple = pd.read_json(json_data)
ripple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1827 entries, 0 to 1826
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   prices         1827 non-null   object
 1   market_caps    1827 non-null   object
 2   total_volumes  1827 non-null   object
dtypes: object(3)
memory usage: 42.9+ KB

In [88]:
json_data = 'data/stellar.json'  
stellar = pd.read_json(json_data)
stellar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1827 entries, 0 to 1826
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   prices         1827 non-null   object
 1   market_caps    1827 non-null   object
 2   total_volumes  1827 non-null   object
dtypes: object(3)
memory usage: 42.9+ KB

In [89]:
json_data = 'data/tether.json'  
tether = pd.read_json(json_data)
tether.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   prices         1826 non-null   object
 1   market_caps    1826 non-null   object
 2   total_volumes  1826 non-null   object
dtypes: object(3)
memory usage: 42.9+ KB

In [90]:
json_data = 'data/usd-coin.json'  
usdcoin = pd.read_json(json_data)
usdcoin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1777 entries, 0 to 1776
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   prices         1777 non-null   object
 1   market_caps    1777 non-null   object
 2   total_volumes  1777 non-null   object
dtypes: object(3)
memory usage: 41.8+ KB

Como observamos, todos los archivos tienen la misma estructura y número de registros. El único que difiere es el de usdcoin que tiene menos registros y la columna de market_caps aparece sin datos.

In [91]:
'binancecoin', 'bitcoin', 'cardano', 'chainlink', 'ethereum', 'ripple', 'stellar', 'tether', 'litecoin', 'usd-coin'

('binancecoin',
 'bitcoin',
 'cardano',
 'chainlink',
 'ethereum',
 'ripple',
 'stellar',
 'tether',
 'litecoin',
 'usd-coin')

#### Transformaciones y limpieza

In [92]:
#Todos los archivos tienen la misma estructura. Solamente usd-coin es diferente: 
bitcoin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1827 entries, 0 to 1826
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   prices         1827 non-null   object
 1   market_caps    1827 non-null   object
 2   total_volumes  1827 non-null   object
dtypes: object(3)
memory usage: 42.9+ KB

In [93]:
bitcoin.head()

,prices,market_caps,total_volumes
0,"[1534377600000, 6267.76870877378]","[1534377600000, 107788817699.53123]","[1534377600000, 6619548180.387301]"
1,"[1534464000000, 6309.385226218996]","[1534464000000, 108578823549.00035]","[1534464000000, 5982589406.965]"
2,"[1534550400000, 6566.715163377382]","[1534550400000, 113018605465.47177]","[1534550400000, 6206194158.951437]"
3,"[1534636800000, 6382.0605914076095]","[1534636800000, 109889851531.17278]","[1534636800000, 5616965845.869809]"
4,"[1534723200000, 6475.494019667379]","[1534723200000, 111490970656.3322]","[1534723200000, 5160365103.111909]"

Como podemos apreciar al mostrar las 5 primeras filas del dataframe bitcoin, las columnas con los datos presentan dos problemas:
1) Están en forma de listas.
2) El primer valor de cada lista es igual en todas las columnas y está en formato UNIX de unidades de tiempo. 
Lo que haremos será solucionar ambos problemas, extrayendo del formato UNIX cuatro columnas: datetime, year, month y day. Y eliminando el valor UNIX en cada columna, así como los corchetes. 
Como todos los datasets de las 10 monedas presentan estos problemas, realizaremos los cambios para todos los archivos.

In [94]:
# Lista de nombres de los DataFrames
dataframe_names = ['bitcoin', 'binancecoin', 'cardano', 'ethereum', 'chainlink', 'litecoin', 'ripple', 'stellar', 'tether', 'usdcoin']

# Definir las transformaciones en funciones para reutilizarlas en el bucle
def transform_datetime(df):
    df['datetime'] = pd.to_datetime(df['prices'].apply(lambda x: x[0] // 1000), unit='s')
    df['year'] = df['datetime'].dt.year
    df['month'] = df['datetime'].dt.month
    df['day'] = df['datetime'].dt.day
    return df

def transform_values(df):
    df['prices'] = df['prices'].apply(lambda x: x[1])
    df['market_caps'] = df['market_caps'].apply(lambda x: x[1])
    df['total_volumes'] = df['total_volumes'].apply(lambda x: x[1])
    return df

# Iterar sobre la lista de nombres de los DataFrames y aplicar las transformaciones
for dataframe_name in dataframe_names:
    df = globals()[dataframe_name]  # Obtener el DataFrame por su nombre
    df = transform_datetime(df)
    df = transform_values(df)

In [95]:
#Mostramos los cambios realizados
ethereum.head()

       prices   market_caps  total_volumes   datetime  year  month  day
0  281.141193  2.845771e+10   2.818580e+09 2018-08-16  2018      8   16
1  286.320221  2.901377e+10   2.409323e+09 2018-08-17  2018      8   17
2  314.793253  3.190058e+10   2.930410e+09 2018-08-18  2018      8   18
3  293.176992  2.973165e+10   2.806352e+09 2018-08-19  2018      8   19
4  299.435123  3.037346e+10   2.503897e+09 2018-08-20  2018      8   20

Agregamos ahora dos columnas más para facilitar las operaciones, el análisis exploratorio y la visualización de datos:
1) Una columna de id 
2) Una columna con el ticker(etiqueta de cotización) de cada criptomoneda

In [96]:
#Listas de los id de las criptomonedas y de los tickers
dataframe_names = ['bitcoin', 'binancecoin', 'cardano', 'ethereum', 'chainlink', 'litecoin', 'ripple', 'stellar', 'tether', 'usdcoin']
tickers = ['BTC', 'BNB', 'ADA', 'ETH', 'LINK', 'LTC', 'XRP', 'XLM', 'USDT', 'USDC']

# Iteramos sobre la lista de nombres de los DataFrames y agregamos las columnas "id" y "tickers"
for dataframe_name, ticker in zip(dataframe_names, tickers):
    df = globals()[dataframe_name]  # Obtener el DataFrame por su nombre
    df['id'] = dataframe_name  # Agregar la columna "id" con el valor del nombre del DataFrame
    df['ticker'] = ticker  # Agregar la columna "tickers" con el valor del ticker correspondiente

In [97]:
# Mostramos el resultado de los cambios
ripple.head()

,prices,market_caps,total_volumes,datetime,year,month,day,id,ticker
0,0.281680,1.106011e+10,3.408424e+08,2018-08-16,2018,8,16,ripple,XRP
1,0.292357,1.150398e+10,2.449694e+08,2018-08-17,2018,8,17,ripple,XRP
2,0.365943,1.439222e+10,5.258470e+08,2018-08-18,2018,8,18,ripple,XRP
3,0.326364,1.284835e+10,4.447622e+08,2018-08-19,2018,8,19,ripple,XRP
4,0.343703,1.353327e+10,3.411681e+08,2018-08-20,2018,8,20,ripple,XRP

A continuación unimos los 10 datasets con los cambios realizados en uno solo.

In [98]:
# Lista de los dataframes que quieres unir
dataframes_to_merge = [bitcoin, binancecoin, cardano, ethereum, chainlink, litecoin, ripple, stellar, tether, usdcoin]

# Unir los dataframes usando el método pd.concat
coins = pd.concat([df.copy() for df in dataframes_to_merge], ignore_index=True)

In [99]:
# Mostramos el dataset obtenido
coins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18219 entries, 0 to 18218
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   prices         18219 non-null  float64
 1   market_caps    18219 non-null  float64
 2   total_volumes  18219 non-null  float64
 3   datetime       18219 non-null  datetime64[ns]
 4   year           18219 non-null  int32
 5   month          18219 non-null  int32
 6   day            18219 non-null  int32
 7   id             18219 non-null  object
 8   ticker         18219 non-null  object
dtypes: datetime64[ns](1), float64(3), int32(3), object(2)
memory usage: 1.0+ MB

In [100]:
coins.head()

,prices,market_caps,total_volumes,datetime,year,month,day,id,ticker
0,6267.768709,1.077888e+11,6.619548e+09,2018-08-16,2018,8,16,bitcoin,BTC
1,6309.385226,1.085788e+11,5.982589e+09,2018-08-17,2018,8,17,bitcoin,BTC
2,6566.715163,1.130186e+11,6.206194e+09,2018-08-18,2018,8,18,bitcoin,BTC
3,6382.060591,1.098899e+11,5.616966e+09,2018-08-19,2018,8,19,bitcoin,BTC
4,6475.494020,1.114910e+11,5.160365e+09,2018-08-20,2018,8,20,bitcoin,BTC

In [101]:
coins.to_csv('data/coins.csv', index=False)